@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}


:root {
    --color1: rgba(255, 228, 196, 0.608);
    --color2: rgba(255, 194, 120, 0.711);
}

* {
    margin: 0;
    padding: 0;
    font-family:  'Poppins';
}



/*------------------------------------*/

/* .page_nav {
    z-index: 999;
} */

/* styling the hero part */
.hero {
    padding-top: 30vh;
    display: flex;
    flex-direction: row;
    background: url("../images/tech_bg2.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: row;
    transition: background-image 2s ease-in-out;
    align-items: center;
    position: relative;
}

/* Styling for the outer circle */
.outer-circle {
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(230, 148, 60, 0.279);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.middle-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #124a5eff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

/* Styling for the inner circle */
.inner-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #ffffff;
}

.innovate .text {
    font-size: 100px;
    font-weight: 900;
}

/* div .one {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.one button {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
    left: 0;
}

.three button {
    position: static;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
    right: 0;
}

div .two {
    flex: 5;
}

div .three {
    flex: 1;
} */

/* .hero h1{
    margin: 50px;
    padding: 10px;
} */

/* styling the main part */

main {
    display: flex;
    flex-direction: row;
}

/* Stylize the main part of the side */

.side-main {
    border: 1px solid black;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    /* height: 100vh; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: sticky;
}


.title {
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 150px;
    background: #124a5eff;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

.title h1 {
    align-items: center;
    padding-left: 13%;
    color: white;
}

.side-content {
    /* background-color: #124a5eff; */
    padding: 10px;
    margin: 10px;
    flex: 10;
}
.side-content li{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.221);
}

.side-content-title{
    background-color: whitesmoke;
    /* border: 1px solid rgb(160, 160, 160); */
    height: 60px;
    border-radius: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.side-content p{
    font-size: 0.8rem;
}

.fa-play{
    color: var(--color2);
}
.side-content ul{
    list-style: none;
}

.side-content p:hover{
    color: rgb(12, 48, 119);
    cursor: pointer;
    text-decoration: underline;
}

div .title .small-logo {
    width: 80px;
}


/* end of Stylize the main part of the side */

.side-main .title {
    flex: 1;
}



/* Page styling */

.page{
    padding-top: 30vh;
}

/* Page styling */

/* Styling main part of the main part */
.main2 {
    flex: 4;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    /* background: rgba(18, 74, 94, 0.274); */
    /* height: 100vh; */
}

.news {
    margin: 10px;
    padding: 10px;
    /* overflow-x: scroll; */
    /* text-align: center; */
}

.news .news-head {
    text-align: center;
    margin: 10px;
}

.news .news-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}

/* .news-content::after{
    content:"";
    width: 25em;
    padding: 10px;
    margin: 10px;
} */

.news-part {
    display: inline-block;
    /* margin: 30px; */
    padding: 10px;
    width: 25em;
    border-radius: 10px;
    margin: 10px;
}

.newsImage {
    height: 350px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.newsImage:hover {
    cursor: pointer;
    z-index: -1;
    filter: brightness(0.7);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.news-text {
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 0 0 10px 10px;
    transition: 0.3s ease;
}

.news-text .headline {
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    color: rgb(0, 51, 255);
}

.news-text .headline:hover {
    text-decoration: underline;
}

#news-detail {
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

.news-detail {
    display: none;
}

.news-text .headline:hover .news-detail {
    color: red;
    display: block;
}

.events {
    text-align: center;
}

.resources {
    text-align: center;
}

.gallery {
    text-align: center;
}



/* Styling main part of the main part */

/* 
.main3 {
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background: rgba(18, 74, 94, 0.274);
    height: 100vh;
} */

/* styling the footer part */

footer {
    display: flex;
    flex-direction: column;
    background: rgb(73, 73, 73);
    padding: 20px;
    align-items: center;
    text-align: center;
    font-size: large;
}

.copyright {
    color: white;
    margin: auto 0 0;
    font-weight: 600;
}


/*----------------------------------------------------------
Styling news_detail.html*/

#news_detailImage {
    border-radius: 1em;
    width: 50em;
}

.newsDetailText {
    display: flex;
    flex-direction: column;
}

.newsDetailText .newsDetail {
    width: 60em;
}

.newsDetailText .newsDetail::selection {
    background: #e6953cff;
    color: white;
}

.newsDate {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
}

.newsDate .dateIcon {
    margin: 1em;
}

.side_main .prev_button {
    border-radius: 3em;
    border: 0;
    margin: 1em;
    background: none;
}

.prev_button img {
    margin: 1em;
    cursor: pointer;
}

/*Styling news_detail.html
----------------------------------------------------------*/


/*Styling about page*/

.about {
    /* color: white; */
    padding-top: 30vh;
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* &::before {
        content: ""; */
    background-image: url("../images/tech_bg2.jpg");
    /* opacity: 0.3; */
    background-position: center;
    background-size: cover;
    position: relative;
    /* color: white; */
    /* top: 0px;
        bottom: 0px;
        left: 0;
        left: 0;
    }; */

}

.about::before {
    content: "";
    position: absolute;
}

/* .about_title,
.event_title {
    padding: 15px;
    font-size: 2.5rem;
    font-weight: bolder;
} */

.page_name {
    padding: 15px;
    font-size: 2.5rem;
    font-weight: bolder;
}


.about_content {
    padding: 30Spx;
    width: 50%;
    max-width: 1000px;
}

.content-detail {
    /* border: 1px solid black; */
    /* border-radius: 30px; */
    margin-bottom: 50px;
    padding: 10%;
    transition: 1s;
    opacity: 0;
    backdrop-filter: blur(7px);
}

.content-detail:nth-child(even) {
    transform: translateX(30%);
    border-right: 2px solid rgb(51, 148, 153);
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(51, 148, 153, 0.236));
    /* background-color: rgba(51, 148, 153, 0.236); */
}

.content-detail:nth-child(odd) {
    transform: translateX(-30%);
    border-left: 2px solid rgb(255, 199, 31);
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255, 199, 31, 0.236), rgba(255, 255, 255, 0));
    /* background-color: rgba(255, 199, 31, 0.236); */
}

.about_content_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
}

.content-detail p {
    font-family: Open Sans;
    font-size: 0.9remx;
}

.content-detail .about_content_list {
    font-family: Open Sans;
    font-size: 0.9rem;
}

.about_content_list ul li {
    margin-left: 30px;
    list-style: circle;

}

.about_content_list .bold {
    font-weight: bold;
}

/*Styling about page*/


/*Styling event page*/


.events {
    padding-top: 30vh;
}

.event {
    /* background-color: #124a5eff; */
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.upcoming .upcoming_title {
    text-align: left;
    padding-left: 20%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.bi-chevron-right {
    fill: rgb(0, 0, 0);
    fill-rule: nonzero;
    width: 20px;
    padding: -20px;
}

.upcoming_event_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px; */
    /* width: 100%;
    /* background-color: rgb(119, 119, 119);
    border-left: 2px solid rgb(255, 199, 31);
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255, 199, 31, 0.236), rgba(255, 255, 255, 0)); */

}

.event-details {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    border-left: 2px solid rgb(255, 199, 31);
    border-radius: 30px;
    /* background-image: linear-gradient(to right, rgba(255, 31, 31, 0.236), rgba(255, 255, 255, 0)); */
    /* background-image: linear-gradient(to right, rgba(255, 199, 31, 0.236), rgba(255, 255, 255, 0)); */
}

.event-details:nth-child(even) {
    transform: translateX(100px);
}

/* 
.event-details:hover{
    width: 85%;
    transition: 0.5s;
} */

.upcoming-event-photo {
    border-radius: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.event_icon_photo {
    width: 100px;
}

.event_icon {
    padding: 0;
    /* width: 100px; */
    z-index: -999;
    transform: translateY(-300px);
    opacity: 0;
}



.upcoming-event-photo:hover {
    filter: brightness(70%);
    transition: 1s;
    cursor: pointer;
}

.event-image:hover .event_icon {
    cursor: pointer;
    transform: translateY(-250px);
    opacity: 1;
    transition: 1s;
}

.event-content-text {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.event_headline_text {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.upcoming_event_time {
    padding: 10px;
}

.upcoming_event_time .event_date {
    font-weight: bold;
    color: green;
}

/*Styling event page*/

@media screen and (max-width: 480px) {}